.slide-SLIDENUMBER {
  background-color: #ff77ff;
  color: white
  text-shadow: .2px .2px #000000;
  background-image: url("/static/images/philips_open_source.png");
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
  background-size: 5%, auto;
}
