.slide-SLIDENUMBER {
  background-color: purple;
  color: white;
  text-shadow: .2px .2px #234252;
  background-image: url("/static/images/philips_open_source.png");
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
  background-size: 5%, auto;
}

.slide-SLIDENUMBER strong {
  color: #ff77ff;
}

.slide-SLIDENUMBER h2 {
  font-size: 1em;
}

.slide-SLIDENUMBER h1 {
  color: #ff77ff;
}
